p{
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 20px;
}
img{
    width: 49.5%;
    height: 500px;
}
h1,h2{
    text-align: center;
    font-size: 50px;
}
button{
    background-color: rgb(255, 5, 55);
    color: yellow;
    font-size: 60px;
    text-align: center;
    padding: 30px;
    border-radius: 30px;
}
body{
    background-color: rgb(240, 28, 28);

}
h3{
    font-size: 30px;
}