.container{
    width: 400px;
    height: 700px;
    background-color: rgb(30, 29, 32);
    display: flex;
    flex-direction: column;
}
.result{
    width: 400px;
    height: 200px;
    background-color: rgb(53, 41, 41);
}
.concainit{
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
}
d{
    font-size: 50px;
    color: white;
}
.contain{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.a{
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
}
button{
    width: 100px;
    height: 100px;
    color: white;
    font-size: 50px;
}
.mêm{
    background-color: black;
}
.lỏd{
    background-color: orange;
}
.nỏmie{
    width: 400px;
    background-color: red;
}