.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dogisdog{
    width: 300px;
    height: 200px;
    font-size: 50px;
}