.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgba(132, 134, 238, 0.411) 50%, rgba(92, 92, 6, 0.308) 50%);
    display: flex;
    flex-direction: column;
}
h1,h2{
    text-align: center;
}
.st{
    width: 100vw;
    height: 88vh;
    display: flex;
    flex-direction: row;
}
.half{
    width: 50vw;
    height: 88vh;
}
.anh{
    width: 50vw;
    height: 350px;
}